@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
@import "variables";
@import "menu";

body {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

* {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  // font-family: Nunito Sans, sans-serif;
  font-color: $light-theme-text-color;
  font-size: calc(11px + (18 - 11) * ((100vw - 300px) / (1600 - 300)));
  // transition: $transition-time;
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
}

ul, li {
  word-break: break-all;}

section{
  width: 100%;
}

.container-section {
  padding: $burger-width/4 $burger-width;
}

section[data-theme="light"] {
  color: $light-theme-text-color;
  background-color: $light-theme-bg-color;
}

section[data-theme="dark"] {
  color: $dark-theme-text-color;
  background-color: $dark-theme-bg-color;
}

section[data-theme="light"] > * {
  color: $light-theme-text-color;
  background-color: $light-theme-bg-color;
}

section[data-theme="dark"] > * {
  color: $dark-theme-text-color;
  background-color: $dark-theme-bg-color;
}

.section-div {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}


.neomorphism[data-theme="light"] {
  box-shadow:
       $light-theme-light-color  -1*$neomorphism-offset -1*$neomorphism-offset $neomorphism-blur-radius,
       $light-theme-shadow-color $neomorphism-offset $neomorphism-offset $neomorphism-blur-radius;
}

.neomorphism[data-theme="dark"] {
  box-shadow:
       $dark-theme-light-color -1*$neomorphism-offset -1*$neomorphism-offset $neomorphism-blur-radius,
       $dark-theme-shadow-color $neomorphism-offset $neomorphism-offset $neomorphism-blur-radius;
}

.neomorphism-button[data-theme="light"]:hover {
  box-shadow:
       $light-theme-shadow-color  -1*$neomorphism-offset -1*$neomorphism-offset 1*$neomorphism-blur-radius,
       $light-theme-light-color 1*$neomorphism-offset 1*$neomorphism-offset 1*$neomorphism-blur-radius;
}

.neomorphism-button[data-theme="dark"]:hover {
  box-shadow:
       $dark-theme-shadow-color -1*$neomorphism-offset -1*$neomorphism-offset 1*$neomorphism-blur-radius,
       $dark-theme-light-color 1*$neomorphism-offset 1*$neomorphism-offset 1*$neomorphism-blur-radius;
}

p, h1, h2, h3 {
  transition: 0s;
}

h2 {
  text-align: center;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

// @media (max-width: 576px) {
//     * {
//       font-size: 11px;
//       // font-size: 1.5vmax;
//       font-size: calc(11px + (20 - 11) * ((100vw - 300px) / (1600 - 300)));
//     }
// }
//
// @media (min-width: 576px) {
//     * {
//       font-size: 14px;
//       // font-size: 1.5vmax;
//       font-size: calc(11px + (20 - 11) * ((100vw - 300px) / (1600 - 300)));
//     }
// }
