// Define global variables
$transition-time: 0.3s;
$neomorphism-offset: 4px;
$neomorphism-blur-radius: 8px;

// Define themes
$light-theme-bg-color: hsl(206,23,94);
$light-theme-text-color: #262626;
$light-theme-light-color: hsl(0,0,100);
$light-theme-shadow-color: hsl(217,30,86);

$dark-theme-bg-color: hsl(200, 0, 15);
$dark-theme-text-color: hsl(200, 0, 85);
$dark-theme-light-color: hsl(200, 0, 25);
$dark-theme-shadow-color: hsl(200, 0, 5);

$hover-link-color: rgb(96, 164, 255);

// Burger
$burger-bar-width: 25px;
$burger-bar-height: 2px;
$burger-bar-spacing: 5px;
$burger-color-light: $dark-theme-bg-color;
$burger-color-dark: $light-theme-bg-color;
$burger-transition: $transition-time;
$burger-padding: 15px;
$burger-height: 3*$burger-bar-height+2*$burger-bar-spacing+2*$burger-padding;
$burger-width: $burger-bar-width+2*$burger-padding;

// Switch button
$switch-bar-width: 50px;
$switch-bar-height: 28px;
$switch-button-size: 26px;
$switch-button-color: white;
$switch-bar-color-off: lightgrey;
$switch-bar-color-on: $hover-link-color;

// Define the navigation bar with social icons-list
$icon-size: 30px;
$icon-container-size : 60px;

$linkedin-icon-color : #26b3ff;
$gitlab-icon-color : #fca326;
$mail-icon-color : #ff4f4f;
$phone-icon-color: #ff6bff;

// Animation
$animation-time-per-letter: 2s;
$animation-delay-between-letter: 0.25s;


// Resume page
$programming-logo-size: 40px;
$star-color : #ffcc00;

// Timeline
$circle_diameter: 20px;
$timeline-horizontal-padding: 30px;

// Projects page
$project-img-size: 175px;
$hover-transition: $transition-time;
