#written-name {
  width: 40vmin;
  margin-left: auto;
  margin-right: auto; }

.path-border {
  stroke-width: 6; }

svg[data-theme="light"] .path-border {
  stroke: #262626; }

svg[data-theme="dark"] .path-border {
  stroke: #60a4ff; }

#m {
  stroke-dasharray: 2053;
  stroke-dashoffset: 2053;
  animation: dash 2s ease-in forwards 0.25s; }

#a-1 {
  stroke-dasharray: 645;
  stroke-dashoffset: 645;
  animation: dash 2s ease-in forwards 0.5s; }

#r-1 {
  stroke-dasharray: 396;
  stroke-dashoffset: 396;
  animation: dash 2s ease-in forwards 0.75s; }

#i {
  stroke-dasharray: 345;
  stroke-dashoffset: 345;
  animation: dash 2s ease-in forwards 1s; }

#n {
  stroke-dasharray: 708;
  stroke-dashoffset: 708;
  animation: dash 2s ease-in forwards 1.25s; }

#s {
  stroke-dasharray: 1597;
  stroke-dashoffset: 1597;
  animation: dash 2s ease-in forwards 1.5s; }

#c {
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: dash 2s ease-in forwards 1.75s; }

#a-2 {
  stroke-dasharray: 645;
  stroke-dashoffset: 645;
  animation: dash 2s ease-in forwards 2s; }

#l {
  stroke-dasharray: 795;
  stroke-dashoffset: 795;
  animation: dash 2s ease-in forwards 2.25s; }

#b {
  stroke-dasharray: 909;
  stroke-dashoffset: 909;
  animation: dash 2s ease-in forwards 2.5s; }

#e {
  stroke-dasharray: 568;
  stroke-dashoffset: 568;
  animation: dash 2s ease-in forwards 2.75s; }

#r-2 {
  stroke-dasharray: 396;
  stroke-dashoffset: 396;
  animation: dash 2s ease-in forwards 3s; }

#t {
  stroke-dasharray: 547;
  stroke-dashoffset: 547;
  animation: dash 2s ease-in forwards 3.25s; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes fill {
  from {
    fill: transparent; }
  to {
    fill: black; } }

/*# sourceMappingURL=animation_name.css.map */
