@import "variables";

#written-name {
  width: 40vmin;
  margin-left: auto;
  margin-right: auto;
}

.path-border {
  stroke-width: 6;
}

svg[data-theme="light"]{
  .path-border{
    stroke:$light-theme-text-color;
  }
}

svg[data-theme="dark"]{
  .path-border{
    stroke:$hover-link-color;
  }
}

#m {
  stroke-dasharray: 2053;
  stroke-dashoffset: 2053;
  animation: dash $animation-time-per-letter ease-in forwards 1*$animation-delay-between-letter;
}

#a-1 {
  stroke-dasharray: 645;
  stroke-dashoffset: 645;
  animation: dash $animation-time-per-letter ease-in forwards 2*$animation-delay-between-letter;
}

#r-1 {
  stroke-dasharray: 396;
  stroke-dashoffset: 396;
  animation: dash $animation-time-per-letter ease-in forwards 3*$animation-delay-between-letter;
}

#i {
  stroke-dasharray: 345;
  stroke-dashoffset: 345;
  animation: dash $animation-time-per-letter ease-in forwards 4*$animation-delay-between-letter;
}

#n {
  stroke-dasharray: 708;
  stroke-dashoffset: 708;
  animation: dash $animation-time-per-letter ease-in forwards 5*$animation-delay-between-letter;
}

#s {
  stroke-dasharray: 1597;
  stroke-dashoffset: 1597;
  animation: dash $animation-time-per-letter ease-in forwards 6*$animation-delay-between-letter;
}

#c {
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: dash $animation-time-per-letter ease-in forwards 7*$animation-delay-between-letter;
}

#a-2 {
  stroke-dasharray: 645;
  stroke-dashoffset: 645;
  animation: dash $animation-time-per-letter ease-in forwards 8*$animation-delay-between-letter;
}

#l {
  stroke-dasharray: 795;
  stroke-dashoffset: 795;
  animation: dash $animation-time-per-letter ease-in forwards 9*$animation-delay-between-letter;
}

#b {
  stroke-dasharray: 909;
  stroke-dashoffset: 909;
  animation: dash $animation-time-per-letter ease-in forwards 10*$animation-delay-between-letter;
}

#e {
  stroke-dasharray: 568;
  stroke-dashoffset: 568;
  animation: dash $animation-time-per-letter ease-in forwards 11*$animation-delay-between-letter;
}

#r-2 {
  stroke-dasharray: 396;
  stroke-dashoffset: 396;
  animation: dash $animation-time-per-letter ease-in forwards 12*$animation-delay-between-letter;
}

#t {
  stroke-dasharray: 547;
  stroke-dashoffset: 547;
  animation: dash $animation-time-per-letter ease-in forwards 13*$animation-delay-between-letter;
}

  // animation: dash 2s ease-in forwards;

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }

  to {
    fill: black;
  }
}
