@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
@keyframes switch-on {
  from {
    left: 1px; }
  to {
    left: 23px; } }
@keyframes switch-off {
  from {
    left: 23px; }
  to {
    left: 1px; } }
.switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.switch-checkbox {
  display: none; }

.slider {
  display: block;
  height: 28px;
  width: 50px;
  border-radius: 25px;
  background: lightgrey; }

.slider:before {
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 28px;
  background: white;
  position: absolute;
  top: 1px;
  left: 1px; }

.switch-checkbox:checked + .slider {
  background: #60a4ff;
  border-radius: 28px; }

.switch-checkbox:not(:checked) + .slider {
  background: lightgrey;
  border-radius: 28px; }

.switch-checkbox:checked + .slider:before {
  animation: switch-on 0.3s forwards; }

.switch-checkbox:not(:checked) + .slider:before {
  animation: switch-off 0.3s forwards; }

.navbar {
  padding: 0;
  margin: 0; }

#burger-button {
  padding: 15px; }

.navbar-nav > li {
  margin: 0 10px;
  border-radius: 30px; }

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border: none;
  box-shadow: none; }

.icon-bar {
  width: 25px;
  height: 2px;
  display: block;
  transition: all 0.3s;
  border-radius: 2px; }

.middle-bar {
  margin-top: 5px;
  margin-bottom: 5px; }

.navbar-toggler.collapsed {
  border: none;
  background: transparent !important; }
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0); }
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1; }
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0); }

.navbar-toggler {
  border: none;
  background: transparent !important; }
  .navbar-toggler .top-bar {
    transform: translateY(7px) rotate(-45deg); }
  .navbar-toggler .middle-bar {
    opacity: 0; }
  .navbar-toggler .bottom-bar {
    transform: translateY(-7px) rotate(45deg); }

#burger-button[data-theme="light"] > * {
  background-color: #262626; }

#burger-button[data-theme="dark"] > * {
  background-color: #ecf0f3; }

.navbar-default[data-theme="light"] {
  background-color: #ecf0f3;
  border-color: #ecf0f3; }

.navbar-default[data-theme="dark"] {
  background-color: #262626;
  border-color: #262626; }

.navbar-default[data-theme="light"] > * {
  background-color: #ecf0f3; }

.navbar-default[data-theme="dark"] > * {
  background-color: #262626; }

.nav-link[data-theme="light"] {
  color: #262626;
  font-size: 1.2em;
  transition: all 0s; }

.nav-link:hover[data-theme="light"] {
  color: #60a4ff;
  transition: all 0s; }

.nav-link[data-theme="dark"] {
  color: #d9d9d9;
  font-size: 1.2em;
  transition: all 0s; }

.nav-link:hover[data-theme="dark"] {
  color: #60a4ff;
  transition: all 0s; }

.nav-link.highlight {
  border-bottom: 1px solid #60a4ff;
  color: #60a4ff; }

body {
  position: relative;
  overflow: hidden;
  overflow-y: auto; }

* {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-color: #262626;
  font-size: calc(11px + (18 - 11) * ((100vw - 300px) / (1600 - 300)));
  scroll-behavior: smooth;
  --scroll-behavior: smooth; }

ul, li {
  word-break: break-all; }

section {
  width: 100%; }

.container-section {
  padding: 13.75px 55px; }

section[data-theme="light"] {
  color: #262626;
  background-color: #ecf0f3; }

section[data-theme="dark"] {
  color: #d9d9d9;
  background-color: #262626; }

section[data-theme="light"] > * {
  color: #262626;
  background-color: #ecf0f3; }

section[data-theme="dark"] > * {
  color: #d9d9d9;
  background-color: #262626; }

.section-div {
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px; }

.neomorphism[data-theme="light"] {
  box-shadow: white -4px -4px 8px, #d1d9e6 4px 4px 8px; }

.neomorphism[data-theme="dark"] {
  box-shadow: #404040 -4px -4px 8px, #0d0d0d 4px 4px 8px; }

.neomorphism-button[data-theme="light"]:hover {
  box-shadow: #d1d9e6 -4px -4px 8px, white 4px 4px 8px; }

.neomorphism-button[data-theme="dark"]:hover {
  box-shadow: #0d0d0d -4px -4px 8px, #404040 4px 4px 8px; }

p, h1, h2, h3 {
  transition: 0s; }

h2 {
  text-align: center;
  padding: 0.5rem 0; }

h3 {
  padding: 1rem 0; }

@keyframes switch-on {
  from {
    left: 1px; }
  to {
    left: 23px; } }
@keyframes switch-off {
  from {
    left: 23px; }
  to {
    left: 1px; } }
.switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.switch-checkbox {
  display: none; }

.slider {
  display: block;
  height: 28px;
  width: 50px;
  border-radius: 25px;
  background: lightgrey; }

.slider:before {
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 28px;
  background: white;
  position: absolute;
  top: 1px;
  left: 1px; }

.switch-checkbox:checked + .slider {
  background: #60a4ff;
  border-radius: 28px; }

.switch-checkbox:not(:checked) + .slider {
  background: lightgrey;
  border-radius: 28px; }

.switch-checkbox:checked + .slider:before {
  animation: switch-on 0.3s forwards; }

.switch-checkbox:not(:checked) + .slider:before {
  animation: switch-off 0.3s forwards; }

.navbar {
  padding: 0;
  margin: 0; }

#burger-button {
  padding: 15px; }

.navbar-nav > li {
  margin: 0 10px;
  border-radius: 30px; }

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border: none;
  box-shadow: none; }

.icon-bar {
  width: 25px;
  height: 2px;
  display: block;
  transition: all 0.3s;
  border-radius: 2px; }

.middle-bar {
  margin-top: 5px;
  margin-bottom: 5px; }

.navbar-toggler.collapsed {
  border: none;
  background: transparent !important; }
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0); }
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1; }
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0); }

.navbar-toggler {
  border: none;
  background: transparent !important; }
  .navbar-toggler .top-bar {
    transform: translateY(7px) rotate(-45deg); }
  .navbar-toggler .middle-bar {
    opacity: 0; }
  .navbar-toggler .bottom-bar {
    transform: translateY(-7px) rotate(45deg); }

#burger-button[data-theme="light"] > * {
  background-color: #262626; }

#burger-button[data-theme="dark"] > * {
  background-color: #ecf0f3; }

.navbar-default[data-theme="light"] {
  background-color: #ecf0f3;
  border-color: #ecf0f3; }

.navbar-default[data-theme="dark"] {
  background-color: #262626;
  border-color: #262626; }

.navbar-default[data-theme="light"] > * {
  background-color: #ecf0f3; }

.navbar-default[data-theme="dark"] > * {
  background-color: #262626; }

.nav-link[data-theme="light"] {
  color: #262626;
  font-size: 1.2em;
  transition: all 0s; }

.nav-link:hover[data-theme="light"] {
  color: #60a4ff;
  transition: all 0s; }

.nav-link[data-theme="dark"] {
  color: #d9d9d9;
  font-size: 1.2em;
  transition: all 0s; }

.nav-link:hover[data-theme="dark"] {
  color: #60a4ff;
  transition: all 0s; }

.nav-link.highlight {
  border-bottom: 1px solid #60a4ff;
  color: #60a4ff; }

.icons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none; }

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 60px;
  width: 60px;
  border-radius: 60px; }

.icon {
  font-size: 30px; }

.icon:hover {
  text-decoration: none; }

.icon-link[data-theme="light"] {
  text-decoration: none; }
  .icon-link[data-theme="light"] .icon {
    color: #262626; }

.icon-link[data-theme="dark"] {
  text-decoration: none; }
  .icon-link[data-theme="dark"] .icon {
    color: #d9d9d9; }

#linkedin-icon-link:hover {
  border-color: #26b3ff; }
  #linkedin-icon-link:hover .icon {
    color: #26b3ff; }

#gitlab-icon-link:hover {
  border-color: #fca326; }
  #gitlab-icon-link:hover .icon {
    color: #fca326; }

#mail-icon-link:hover {
  border-color: #ff4f4f; }
  #mail-icon-link:hover .icon {
    color: #ff4f4f; }

#phone-icon-link:hover {
  border-color: #ff6bff; }
  #phone-icon-link:hover .icon {
    color: #ff6bff; }

#nav-contacts .icon-link {
  margin: 10px; }

#home-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#home-page[data-theme="light"] {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../imgs/home_page_bg.jpeg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  transition: background 0.3s all; }

#home-page[data-theme="dark"] {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../imgs/home_page_bg.jpeg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  transition: background 0.3s all; }

@supports (-webkit-overflow-scrolling: touch) {
  #home-page[data-theme="light"] {
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../imgs/home_page_bg.jpeg");
    background-position: top;
    background-size: cover;
    background-attachment: scroll;
    transition: background 0.3s all; }

  #home-page[data-theme="dark"] {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../imgs/home_page_bg.jpeg");
    background-position: top;
    background-size: cover;
    background-attachment: scroll;
    transition: background 0.3s all; } }
#home-page-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

#small-description {
  margin-top: 55px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

#home-page-section[data-theme="light"] * {
  color: #262626; }

#home-page-section[data-theme="dark"] * {
  color: #d9d9d9; }

#download-resume-button {
  display: block;
  color: #60a4ff !important;
  font-weight: 800;
  margin: 30px auto;
  border: 1px solid #60a4ff;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none; }

#download-resume-button:hover {
  color: white !important;
  font-weight: 800;
  border: 1px solid #60a4ff;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  background-color: #60a4ff;
  box-shadow: 0px 0px 20px #60a4ff; }

#written-name {
  width: 40vmin;
  margin-left: auto;
  margin-right: auto; }

.path-border {
  stroke-width: 6; }

svg[data-theme="light"] .path-border {
  stroke: #262626; }

svg[data-theme="dark"] .path-border {
  stroke: #60a4ff; }

#m {
  stroke-dasharray: 2053;
  stroke-dashoffset: 2053;
  animation: dash 2s ease-in forwards 0.25s; }

#a-1 {
  stroke-dasharray: 645;
  stroke-dashoffset: 645;
  animation: dash 2s ease-in forwards 0.5s; }

#r-1 {
  stroke-dasharray: 396;
  stroke-dashoffset: 396;
  animation: dash 2s ease-in forwards 0.75s; }

#i {
  stroke-dasharray: 345;
  stroke-dashoffset: 345;
  animation: dash 2s ease-in forwards 1s; }

#n {
  stroke-dasharray: 708;
  stroke-dashoffset: 708;
  animation: dash 2s ease-in forwards 1.25s; }

#s {
  stroke-dasharray: 1597;
  stroke-dashoffset: 1597;
  animation: dash 2s ease-in forwards 1.5s; }

#c {
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: dash 2s ease-in forwards 1.75s; }

#a-2 {
  stroke-dasharray: 645;
  stroke-dashoffset: 645;
  animation: dash 2s ease-in forwards 2s; }

#l {
  stroke-dasharray: 795;
  stroke-dashoffset: 795;
  animation: dash 2s ease-in forwards 2.25s; }

#b {
  stroke-dasharray: 909;
  stroke-dashoffset: 909;
  animation: dash 2s ease-in forwards 2.5s; }

#e {
  stroke-dasharray: 568;
  stroke-dashoffset: 568;
  animation: dash 2s ease-in forwards 2.75s; }

#r-2 {
  stroke-dasharray: 396;
  stroke-dashoffset: 396;
  animation: dash 2s ease-in forwards 3s; }

#t {
  stroke-dasharray: 547;
  stroke-dashoffset: 547;
  animation: dash 2s ease-in forwards 3.25s; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes fill {
  from {
    fill: transparent; }
  to {
    fill: black; } }
.timeline-item-content ul > li {
  margin-left: 1.25em; }

@media (min-width: 576px) {
  .timeline {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 20vmax auto;
    padding: 20px; }

  span.time {
    color: #60a4ff;
    font-weight: 700;
    display: inline-block;
    white-space: pre; }

  .timeline-item-time {
    justify-self: end;
    padding-right: 30px; }

  .timeline-item-content {
    position: relative;
    justify-self: start;
    margin: 0;
    padding-left: 30px;
    padding-bottom: 50px; }

  .timeline-item-content:before {
    position: absolute;
    content: "";
    top: 0px;
    left: -10px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid #60a4ff; }

  .timeline[data-theme="light"] .timeline-item-content:before {
    background: #262626; }
  .timeline[data-theme="light"] .timeline-item-time {
    border-right: 1px solid #262626; }

  .timeline[data-theme="dark"] .timeline-item-content:before {
    background: #d9d9d9; }
  .timeline[data-theme="dark"] .timeline-item-time {
    border-right: 1px solid #d9d9d9; } }
@media (max-width: 576px) {
  .timeline {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    padding: 20px; }

  span.time {
    color: #60a4ff;
    font-weight: 700;
    display: inline-block;
    white-space: pre; }

  .timeline-item-time {
    padding-left: 30px; }

  .timeline-item-content {
    padding-bottom: 50px;
    padding-left: 30px; }

  .timeline-item-time:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid #60a4ff;
    transform: translateX(-40px); }

  .timeline[data-theme="light"] .timeline-item-time:before {
    background: #262626; }
  .timeline[data-theme="light"] .timeline-item-time {
    border-left: 1px solid #262626; }
  .timeline[data-theme="light"] .timeline-item-content {
    border-left: 1px solid #262626; }

  .timeline[data-theme="dark"] .timeline-item-time:before {
    background: #d9d9d9; }
  .timeline[data-theme="dark"] .timeline-item-time {
    border-left: 1px solid #d9d9d9; }
  .timeline[data-theme="dark"] .timeline-item-content {
    border-left: 1px solid #d9d9d9; } }
.programming-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none; }

.programming-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; }
  .programming-list-item .programming-logo-container {
    padding: 5px; }
  .programming-list-item .programming-logo {
    height: 40px;
    width: 40px; }
  .programming-list-item .programming-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .programming-list-item .level {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; }
  .programming-list-item .level > .fa-star.checked {
    color: #ffcc00; }

.programming-list-item[data-theme="dark"] .fa-star.checked {
  color: #ffcc00; }
.programming-list-item[data-theme="dark"] .fa-star {
  color: #d9d9d9; }
.programming-list-item[data-theme="dark"] .programming-language-name {
  color: #d9d9d9; }

.programming-list-item[data-theme="light"] .fa-star.checked {
  color: #ffcc00; }
.programming-list-item[data-theme="light"] .fa-star {
  color: #262626; }
.programming-list-item[data-theme="light"] .programming-language-name {
  color: #262626; }

.tools-frameworks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.language-list {
  list-style: none; }

.language-list-item {
  display: flex;
  justify-content: flex-start; }

.language-level {
  margin-left: 10px; }

.projects-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 175px);
  grid-template-rows: repeat(auto-fill, 175px);
  grid-gap: 20px; }

.project {
  height: 175px;
  width: 175px; }

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #ecf0f3; }

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px; }

.hovereffect img {
  display: block;
  position: relative;
  height: 175px;
  width: 175px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.hovereffect:hover img {
  opacity: 0.05;
  filter: alpha(opacity=5);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
  visibility: hidden;
  font-weight: 500; }

.hovereffect:hover h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  visibility: visible; }

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.project[data-theme="light"] .hovereffect {
  background: #ecf0f3; }
  .project[data-theme="light"] .hovereffect a, .project[data-theme="light"] .hovereffect p, .project[data-theme="light"] .hovereffect h2 {
    color: #262626; }
  .project[data-theme="light"] .hovereffect h2:after {
    color: #262626; }
.project[data-theme="light"] .hovereffect:hover h2:after {
  background-color: #262626; }
.project[data-theme="light"] a:hover {
  color: orange; }

.project[data-theme="dark"] .hovereffect {
  background: #262626; }
  .project[data-theme="dark"] .hovereffect a, .project[data-theme="dark"] .hovereffect p, .project[data-theme="dark"] .hovereffect h2 {
    color: #d9d9d9; }
  .project[data-theme="dark"] .hovereffect h2:after {
    color: #d9d9d9; }
.project[data-theme="dark"] .hovereffect:hover h2:after {
  background-color: #d9d9d9; }
.project[data-theme="dark"] a:hover {
  color: orange; }

/*# sourceMappingURL=index.css.map */
