@keyframes switch-on {
  from {
    left: 1px; }
  to {
    left: 23px; } }
@keyframes switch-off {
  from {
    left: 23px; }
  to {
    left: 1px; } }
.switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.switch-checkbox {
  display: none; }

.slider {
  display: block;
  height: 28px;
  width: 50px;
  border-radius: 25px;
  background: lightgrey; }

.slider:before {
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 28px;
  background: white;
  position: absolute;
  top: 1px;
  left: 1px; }

.switch-checkbox:checked + .slider {
  background: #60a4ff;
  border-radius: 28px; }

.switch-checkbox:not(:checked) + .slider {
  background: lightgrey;
  border-radius: 28px; }

.switch-checkbox:checked + .slider:before {
  animation: switch-on 0.3s forwards; }

.switch-checkbox:not(:checked) + .slider:before {
  animation: switch-off 0.3s forwards; }

.navbar {
  padding: 0;
  margin: 0; }

#burger-button {
  padding: 15px; }

.navbar-nav > li {
  margin: 0 10px;
  border-radius: 30px; }

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  border: none;
  box-shadow: none; }

.icon-bar {
  width: 25px;
  height: 2px;
  display: block;
  transition: all 0.3s;
  border-radius: 2px; }

.middle-bar {
  margin-top: 5px;
  margin-bottom: 5px; }

.navbar-toggler.collapsed {
  border: none;
  background: transparent !important; }
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0); }
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1; }
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0); }

.navbar-toggler {
  border: none;
  background: transparent !important; }
  .navbar-toggler .top-bar {
    transform: translateY(7px) rotate(-45deg); }
  .navbar-toggler .middle-bar {
    opacity: 0; }
  .navbar-toggler .bottom-bar {
    transform: translateY(-7px) rotate(45deg); }

#burger-button[data-theme="light"] > * {
  background-color: #262626; }

#burger-button[data-theme="dark"] > * {
  background-color: #ecf0f3; }

.navbar-default[data-theme="light"] {
  background-color: #ecf0f3;
  border-color: #ecf0f3; }

.navbar-default[data-theme="dark"] {
  background-color: #262626;
  border-color: #262626; }

.navbar-default[data-theme="light"] > * {
  background-color: #ecf0f3; }

.navbar-default[data-theme="dark"] > * {
  background-color: #262626; }

.nav-link[data-theme="light"] {
  color: #262626;
  font-size: 1.2em;
  transition: all 0s; }

.nav-link:hover[data-theme="light"] {
  color: #60a4ff;
  transition: all 0s; }

.nav-link[data-theme="dark"] {
  color: #d9d9d9;
  font-size: 1.2em;
  transition: all 0s; }

.nav-link:hover[data-theme="dark"] {
  color: #60a4ff;
  transition: all 0s; }

.nav-link.highlight {
  border-bottom: 1px solid #60a4ff;
  color: #60a4ff; }

/*# sourceMappingURL=menu.css.map */
