@import "variables";
@import "theme_slider";

.navbar {
  padding: 0;
  margin: 0;
}

#burger-button {
  padding: $burger-padding;
}

.navbar-nav > li{
  margin: 0 10px;
  border-radius: 30px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    border: none;
    box-shadow: none;
}

.icon-bar {
  width: $burger-bar-width;
  height: $burger-bar-height;
  display: block;
  transition: all $burger-transition;
  border-radius: $burger-bar-height;}

.middle-bar {
margin-top: $burger-bar-spacing;
margin-bottom: $burger-bar-spacing;}

.navbar-toggler.collapsed {
  border: none;
  background: transparent !important;

  .top-bar {
    transform: rotate(0);
  }

  .middle-bar {
    opacity: 1;
  }

  .bottom-bar {
    transform: rotate(0);
  }
}

.navbar-toggler{
  border: none;
  background: transparent !important;

  .top-bar {
    transform:
      translateY($burger-bar-spacing + $burger-bar-height)
      rotate(-45deg);
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform:
    translateY(-1*($burger-bar-spacing + $burger-bar-height))
    rotate(45deg);
  }
}

#burger-button[data-theme="light"] > * {
  background-color: $burger-color-light;
}

#burger-button[data-theme="dark"] > * {
  background-color: $burger-color-dark;
}

.navbar-default[data-theme="light"]{
  background-color: $light-theme-bg-color;
  border-color: $light-theme-bg-color;
}

.navbar-default[data-theme="dark"]{
  background-color: $dark-theme-bg-color;
  border-color: $dark-theme-bg-color;
}

.navbar-default[data-theme="light"] > *{
  background-color: $light-theme-bg-color;
}

.navbar-default[data-theme="dark"] > * {
  background-color: $dark-theme-bg-color;
}

.nav-link[data-theme="light"] {
 color: $light-theme-text-color;
font-size: 1.2em;
transition: all 0s;}

.nav-link:hover[data-theme="light"] {
 color: $hover-link-color;
transition: all 0s;}

.nav-link[data-theme="dark"] {
 color: $dark-theme-text-color;
font-size: 1.2em;
transition: all 0s;}

.nav-link:hover[data-theme="dark"] {
 color: $hover-link-color;
transition: all 0s;}

.nav-link.highlight {
  border-bottom: 1px solid $hover-link-color;
  color: $hover-link-color;

}
