.icons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none; }

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 60px;
  width: 60px;
  border-radius: 60px; }

.icon {
  font-size: 30px; }

.icon:hover {
  text-decoration: none; }

.icon-link[data-theme="light"] {
  text-decoration: none; }
  .icon-link[data-theme="light"] .icon {
    color: #262626; }

.icon-link[data-theme="dark"] {
  text-decoration: none; }
  .icon-link[data-theme="dark"] .icon {
    color: #d9d9d9; }

#linkedin-icon-link:hover {
  border-color: #26b3ff; }
  #linkedin-icon-link:hover .icon {
    color: #26b3ff; }

#gitlab-icon-link:hover {
  border-color: #fca326; }
  #gitlab-icon-link:hover .icon {
    color: #fca326; }

#mail-icon-link:hover {
  border-color: #ff4f4f; }
  #mail-icon-link:hover .icon {
    color: #ff4f4f; }

#phone-icon-link:hover {
  border-color: #ff6bff; }
  #phone-icon-link:hover .icon {
    color: #ff6bff; }

#nav-contacts .icon-link {
  margin: 10px; }

/*# sourceMappingURL=navigation_social.css.map */
