@import "variables";

.icons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: $icon-container-size;
  width: $icon-container-size;
  border-radius: $icon-container-size;
}
.icon {
  font-size: $icon-size;
}

.icon:hover {
  text-decoration: none;
}

.icon-link[data-theme="light"]{
  text-decoration: none;
  .icon {
    color: $light-theme-text-color;
  }
}

.icon-link[data-theme="dark"]{
  text-decoration: none;
  .icon {
    color: $dark-theme-text-color;
  }
}

#linkedin-icon-link:hover {
  border-color: $linkedin-icon-color;
  .icon {
    color: $linkedin-icon-color;
  }
}

#gitlab-icon-link:hover {
  border-color: $gitlab-icon-color;
  .icon {
    color: $gitlab-icon-color;
  }
}

#mail-icon-link:hover {
  border-color: $mail-icon-color;
  .icon {
    color: $mail-icon-color;
  }
}

#phone-icon-link:hover {
  border-color: $phone-icon-color;
  .icon {
    color: $phone-icon-color;
  }
}

#nav-contacts {
  .icon-link {
    margin: 10px;
  }
}
