.projects-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 175px);
  grid-template-rows: repeat(auto-fill, 175px);
  grid-gap: 20px; }

.project {
  height: 175px;
  width: 175px; }

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #ecf0f3; }

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px; }

.hovereffect img {
  display: block;
  position: relative;
  height: 175px;
  width: 175px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.hovereffect:hover img {
  opacity: 0.05;
  filter: alpha(opacity=5);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
  visibility: hidden;
  font-weight: 500; }

.hovereffect:hover h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  visibility: visible; }

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.project[data-theme="light"] .hovereffect {
  background: #ecf0f3; }
  .project[data-theme="light"] .hovereffect a, .project[data-theme="light"] .hovereffect p, .project[data-theme="light"] .hovereffect h2 {
    color: #262626; }
  .project[data-theme="light"] .hovereffect h2:after {
    color: #262626; }
.project[data-theme="light"] .hovereffect:hover h2:after {
  background-color: #262626; }
.project[data-theme="light"] a:hover {
  color: orange; }

.project[data-theme="dark"] .hovereffect {
  background: #262626; }
  .project[data-theme="dark"] .hovereffect a, .project[data-theme="dark"] .hovereffect p, .project[data-theme="dark"] .hovereffect h2 {
    color: #d9d9d9; }
  .project[data-theme="dark"] .hovereffect h2:after {
    color: #d9d9d9; }
.project[data-theme="dark"] .hovereffect:hover h2:after {
  background-color: #d9d9d9; }
.project[data-theme="dark"] a:hover {
  color: orange; }

/*# sourceMappingURL=projects.css.map */
