.programming-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none; }

.programming-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; }
  .programming-list-item .programming-logo-container {
    padding: 5px; }
  .programming-list-item .programming-logo {
    height: 40px;
    width: 40px; }
  .programming-list-item .programming-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .programming-list-item .level {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; }
  .programming-list-item .level > .fa-star.checked {
    color: #ffcc00; }

.programming-list-item[data-theme="dark"] .fa-star.checked {
  color: #ffcc00; }
.programming-list-item[data-theme="dark"] .fa-star {
  color: #d9d9d9; }
.programming-list-item[data-theme="dark"] .programming-language-name {
  color: #d9d9d9; }

.programming-list-item[data-theme="light"] .fa-star.checked {
  color: #ffcc00; }
.programming-list-item[data-theme="light"] .fa-star {
  color: #262626; }
.programming-list-item[data-theme="light"] .programming-language-name {
  color: #262626; }

.tools-frameworks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.language-list {
  list-style: none; }

.language-list-item {
  display: flex;
  justify-content: flex-start; }

.language-level {
  margin-left: 10px; }

/*# sourceMappingURL=resume.css.map */
