@import "variables";

.programming-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;

}

.programming-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .programming-logo-container {
    padding: 5px;
  }

  .programming-logo {
    height: $programming-logo-size;
    width: $programming-logo-size;
  }

  .programming-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .level {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .level > .fa-star.checked {
    color: $star-color;
  }
}

.programming-list-item[data-theme="dark"]{
  .fa-star.checked {
    color: $star-color;
  }

  .fa-star {
    color: $dark-theme-text-color;
  }

  .programming-language-name {
    color: $dark-theme-text-color;
  }
}

.programming-list-item[data-theme="light"]{
  .fa-star.checked {
    color: $star-color;
  }

  .fa-star {
    color: $light-theme-text-color;
  }

  .programming-language-name {
    color: $light-theme-text-color;
  }
}

.tools-frameworks{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.language-list {
  list-style: none;
}

.language-list-item {
  display: flex;
  justify-content: flex-start;
}

.language-level {
  margin-left: 10px;
}
