@keyframes switch-on {
  from {
    left: 1px; }
  to {
    left: 23px; } }
@keyframes switch-off {
  from {
    left: 23px; }
  to {
    left: 1px; } }
.switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.switch-checkbox {
  display: none; }

.slider {
  display: block;
  height: 28px;
  width: 50px;
  border-radius: 25px;
  background: lightgrey; }

.slider:before {
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 28px;
  background: white;
  position: absolute;
  top: 1px;
  left: 1px; }

.switch-checkbox:checked + .slider {
  background: #60a4ff;
  border-radius: 28px; }

.switch-checkbox:not(:checked) + .slider {
  background: lightgrey;
  border-radius: 28px; }

.switch-checkbox:checked + .slider:before {
  animation: switch-on 0.3s forwards; }

.switch-checkbox:not(:checked) + .slider:before {
  animation: switch-off 0.3s forwards; }

/*# sourceMappingURL=theme_slider.css.map */
