@import "variables";

@keyframes switch-on {
  from{
    left: ($switch-bar-height - $switch-button-size)/2;
  }

  to{
    left: $switch-bar-width - ($switch-bar-height - $switch-button-size)/2 - $switch-button-size;
  }
}

@keyframes switch-off {
  from{
    left: $switch-bar-width - ($switch-bar-height - $switch-button-size)/2 - $switch-button-size;
  }

  to{
    left: ($switch-bar-height - $switch-button-size)/2;
  }
}

.switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-checkbox{
  display: none;
}

.slider {
  display: block;
  height: $switch-bar-height;
  width: $switch-bar-width;
  border-radius: $switch-bar-width/2;
  background: lightgrey;
}

.slider:before{
  content:"";
  height: $switch-button-size;
  width: $switch-button-size;
  border-radius: $switch-bar-height;
  background: $switch-button-color;
  position: absolute;
  top: ($switch-bar-height - $switch-button-size)/2;
  left: ($switch-bar-height - $switch-button-size)/2;
}

.switch-checkbox:checked + .slider {
  background: $switch-bar-color-on;
  border-radius: $switch-bar-height;
}

.switch-checkbox:not(:checked) + .slider {
  background: $switch-bar-color-off;
  border-radius: $switch-bar-height;
}

.switch-checkbox:checked + .slider:before {
  animation: switch-on 0.3s forwards;
}

.switch-checkbox:not(:checked) + .slider:before {
  animation: switch-off 0.3s forwards;
}
