@import "variables";

.timeline-item-content {
  ul > li {
    margin-left: 1.25em;
  }
}

@media (min-width: 576px) {

  .timeline {
    position: relative;

    width: 100%;

    display: grid;
    grid-template-columns: 20vmax auto;
    padding: 20px;
  }

  span.time {
    color: $hover-link-color;
    font-weight: 700;
    display: inline-block;
    white-space: pre;
  }

  .timeline-item-time {
    justify-self: end;
    padding-right: $timeline-horizontal-padding;
  }

  .timeline-item-content {
    position: relative;
    justify-self:  start;
    margin: 0;
    padding-left: $timeline-horizontal-padding;
    padding-bottom: 50px;
  }

  .timeline-item-content:before {
    position: absolute;
    content: "";
    top: 0*$circle_diameter;
    left: -0.5*$circle_diameter;
    height: $circle_diameter;
    width: $circle_diameter;
    border-radius: $circle_diameter/2;
    border: 2px solid $hover-link-color;
  }

  .timeline[data-theme="light"]{
    .timeline-item-content:before{
      background: $light-theme-text-color;
    }

    .timeline-item-time {
      border-right: 1px solid $light-theme-text-color;
    }
  }

  .timeline[data-theme="dark"]{
    .timeline-item-content:before{
      background: $dark-theme-text-color;
    }

    .timeline-item-time {
      border-right: 1px solid $dark-theme-text-color;
    }
  }
}

@media (max-width: 576px) {

  .timeline {
    position: relative;

    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: auto;
    padding: 20px;
  }

  span.time {
    color: $hover-link-color;
    font-weight: 700;
    display: inline-block;
    white-space: pre;
  }

  .timeline-item-time {
    padding-left: $timeline-horizontal-padding;

  }

  .timeline-item-content {
    padding-bottom: 50px;
    padding-left: $timeline-horizontal-padding;
  }

  .timeline-item-time:before{
    position: absolute;
    content: "";
    height: $circle_diameter;
    width: $circle_diameter;
    border-radius: $circle_diameter/2;
    border: 2px solid $hover-link-color;
    transform: translateX(-1*($timeline-horizontal-padding+$circle_diameter/2));
  }

  .timeline[data-theme="light"]{
    .timeline-item-time:before{
      background: $light-theme-text-color;
    }
    .timeline-item-time{
      border-left: 1px solid $light-theme-text-color;
    }
    .timeline-item-content{
      border-left: 1px solid $light-theme-text-color;
    }

  }

  .timeline[data-theme="dark"]{
    .timeline-item-time:before{
      background: $dark-theme-text-color;
    }

    .timeline-item-time{
      border-left: 1px solid $dark-theme-text-color;
    }
    .timeline-item-content{
      border-left: 1px solid $dark-theme-text-color;
    }

  }
}
