.timeline-item-content ul > li {
  margin-left: 1.25em; }

@media (min-width: 576px) {
  .timeline {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 20vmax auto;
    padding: 20px; }

  span.time {
    color: #60a4ff;
    font-weight: 700;
    display: inline-block;
    white-space: pre; }

  .timeline-item-time {
    justify-self: end;
    padding-right: 30px; }

  .timeline-item-content {
    position: relative;
    justify-self: start;
    margin: 0;
    padding-left: 30px;
    padding-bottom: 50px; }

  .timeline-item-content:before {
    position: absolute;
    content: "";
    top: 0px;
    left: -10px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid #60a4ff; }

  .timeline[data-theme="light"] .timeline-item-content:before {
    background: #262626; }
  .timeline[data-theme="light"] .timeline-item-time {
    border-right: 1px solid #262626; }

  .timeline[data-theme="dark"] .timeline-item-content:before {
    background: #d9d9d9; }
  .timeline[data-theme="dark"] .timeline-item-time {
    border-right: 1px solid #d9d9d9; } }
@media (max-width: 576px) {
  .timeline {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    padding: 20px; }

  span.time {
    color: #60a4ff;
    font-weight: 700;
    display: inline-block;
    white-space: pre; }

  .timeline-item-time {
    padding-left: 30px; }

  .timeline-item-content {
    padding-bottom: 50px;
    padding-left: 30px; }

  .timeline-item-time:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid #60a4ff;
    transform: translateX(-40px); }

  .timeline[data-theme="light"] .timeline-item-time:before {
    background: #262626; }
  .timeline[data-theme="light"] .timeline-item-time {
    border-left: 1px solid #262626; }
  .timeline[data-theme="light"] .timeline-item-content {
    border-left: 1px solid #262626; }

  .timeline[data-theme="dark"] .timeline-item-time:before {
    background: #d9d9d9; }
  .timeline[data-theme="dark"] .timeline-item-time {
    border-left: 1px solid #d9d9d9; }
  .timeline[data-theme="dark"] .timeline-item-content {
    border-left: 1px solid #d9d9d9; } }

/*# sourceMappingURL=timeline.css.map */
