@import "variables";

#home-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-page[data-theme="light"]{
  background:
    linear-gradient(
          rgba(255, 255, 255, 0.75),
          rgba(255, 255, 255, 0.75)
        ),
    url("../imgs/home_page_bg.jpeg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    transition: background $transition-time all;
}

#home-page[data-theme="dark"]{
  background:
    linear-gradient(
          rgba(0, 0, 0, 0.75),
          rgba(0, 0, 0, 0.75)
        ),
    url("../imgs/home_page_bg.jpeg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    transition: background $transition-time all;
}

@supports (-webkit-overflow-scrolling: touch) {
  #home-page[data-theme="light"]{
    background:
      linear-gradient(
            rgba(255, 255, 255, 0.75),
            rgba(255, 255, 255, 0.75)
          ),
      url("../imgs/home_page_bg.jpeg");
      background-position: top;
      background-size: cover;
      background-attachment: scroll;
      transition: background $transition-time all;
  }

  #home-page[data-theme="dark"]{
    background:
      linear-gradient(
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)
          ),
      url("../imgs/home_page_bg.jpeg");
      background-position: top;
      background-size: cover;
      background-attachment: scroll;
      transition: background $transition-time all;
  }
}

#home-page-section  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // overflow-y: scroll;
}

#small-description {
  margin-top: $burger-width;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#home-page-section[data-theme="light"] *  {
  color: $light-theme-text-color
}

#home-page-section[data-theme="dark"] * {
  color: $dark-theme-text-color
}

#download-resume-button {
  display: block;
  color: $hover-link-color !important;
  font-weight: 800;
  margin: 30px auto;
  border: 1px solid $hover-link-color;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;

  // #download-logo {
  //   display: none;
  // }
}

#download-resume-button:hover {
  color: white !important;
  font-weight: 800;
  border: 1px solid $hover-link-color;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  background-color: $hover-link-color;
  box-shadow: 0px 0px 20px $hover-link-color;

  // #download-logo {
  //   display: inline;
  //   stroke: $dark-theme-text-color;
  //   stroke-width: 2;
  // }
}
