#home-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#home-page[data-theme="light"] {
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../imgs/home_page_bg.jpeg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  transition: background 0.3s all; }

#home-page[data-theme="dark"] {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../imgs/home_page_bg.jpeg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  transition: background 0.3s all; }

@supports (-webkit-overflow-scrolling: touch) {
  #home-page[data-theme="light"] {
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("../imgs/home_page_bg.jpeg");
    background-position: top;
    background-size: cover;
    background-attachment: scroll;
    transition: background 0.3s all; }

  #home-page[data-theme="dark"] {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../imgs/home_page_bg.jpeg");
    background-position: top;
    background-size: cover;
    background-attachment: scroll;
    transition: background 0.3s all; } }
#home-page-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

#small-description {
  margin-top: 55px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

#home-page-section[data-theme="light"] * {
  color: #262626; }

#home-page-section[data-theme="dark"] * {
  color: #d9d9d9; }

#download-resume-button {
  display: block;
  color: #60a4ff !important;
  font-weight: 800;
  margin: 30px auto;
  border: 1px solid #60a4ff;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none; }

#download-resume-button:hover {
  color: white !important;
  font-weight: 800;
  border: 1px solid #60a4ff;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  background-color: #60a4ff;
  box-shadow: 0px 0px 20px #60a4ff; }

/*# sourceMappingURL=welcome_page.css.map */
